@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-renaissance-blue: #002b5c;
  --color-renaissance-blue-light: #003b7e;
  --color-renaissance-blue-dark: #001f40;
  --color-renaissance-gold: #d4af37;
  --color-renaissance-gold-light: #e6c55c;
  --color-renaissance-offwhite: #faf9f6;
  --color-renaissance-gray: #f3f4f6;
}

@layer base {
  body {
    @apply font-sans bg-renaissance-offwhite text-slate-800 antialiased overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-renaissance-blue-dark;
  }
}
